body {
  border: 3px solid black;
  margin: 4% 6% 8%;
  color: #000000;
  background-color: white;
  font-size: 12px;
  text-align: justify;
  font-family: "verdana",sans-serif;
  -moz-border-radius: 1em; 
  border-radius: 1em; 
}

